# Final project: 
# Step 2: Data wrangling

In [98]:
#importar librerias
import pandas as pd
from tqdm import tqdm
import time

from opencage.geocoder import OpenCageGeocode

### 1. Cities csv scraped from Nomad list (clean and add information to the table)

In [9]:
#importamos csv de ciudades escrapeado de Nomad list
cities = pd.read_csv('../data/nomadlist_cities.csv').drop('Unnamed: 0', axis=1)

#muestra de la tabla
cities.head()

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) Mar,Temperature (°C) Apr,Temperature (°C) May,Temperature (°C) Jun,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,19,18,22,21,23,25,24,21,17,16
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,30,30,30,28,27,27,27,29,30,31
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,24,24,25,22,21,22,21,21,21,20
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,...,36,37,35,32,31,31,31,31,30,28
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,...,15,18,20,28,28,32,26,23,16,8

In [106]:
%%time
#vamos a agregar la latitud y longitud de cada ciudad con el api de OpenCage

#generamos un token para el API (guardado en otro archivo oculto)
from tokens import OpenCage_token

key = OpenCage_token
geocoder = OpenCageGeocode(key)

for i in tqdm(range(23,len(cities))):
    try:
        query = cities.loc[i,'City']+', '+cities.loc[i,'Country']
        result = geocoder.geocode(query)
        cities.loc[i,'lat'] = result[0]['geometry']['lat']
        cities.loc[i,'lng'] = result[0]['geometry']['lng']
        time.sleep(0.3)
    except:
        print(i,cities.loc[i,'City']+', '+cities.loc[i,'Country'])

 36%|███▌      | 466/1297 [08:35<12:43,  1.09it/s]

488 Amundsen-Scott, Antarctica

100%|██████████| 1297/1297 [28:30<00:00,  1.32s/it]

CPU times: user 40.6 s, sys: 2.98 s, total: 43.6 s
Wall time: 28min 30s

In [108]:
#muestra de la tabla incluyendo latitud y longitud
cities.head()

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) May,Temperature (°C) Jun,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec,lat,lng
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,22,21,23,25,24,21,17,16,38.707751,-9.136592
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,30,28,27,27,27,29,30,31,-8.650618,115.136499
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,25,22,21,22,21,21,21,20,19.432630,-99.133178
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,...,35,32,31,31,31,31,30,28,18.790876,98.988048
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,...,20,28,28,32,26,23,16,8,44.817813,20.456897

In [113]:
#verificamos
cities

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) May,Temperature (°C) Jun,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec,lat,lng
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,22,21,23,25,24,21,17,16,38.707751,-9.136592
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,30,28,27,27,27,29,30,31,-8.650618,115.136499
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,25,22,21,22,21,21,21,20,19.432630,-99.133178
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,...,35,32,31,31,31,31,30,28,18.790876,98.988048
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,...,20,28,28,32,26,23,16,8,44.817813,20.456897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,"St. Cloud, MN",United States,https://nomadlist.com/assets/img/places/st-clo...,3.22,4,4,3860.0,44.0,3.0,Great,...,15,23,26,23,20,9,1,-3,45.561608,-94.164200
1316,Volgograd,Russia,https://nomadlist.com/assets/img/places/volgog...,3.22,3,2,1276.0,14.0,2.0,Okay,...,24,30,28,26,23,17,4,2,48.708191,44.515335
1317,"Columbia, MO",United States,https://nomadlist.com/assets/img/places/columb...,3.22,4,3,3637.0,35.0,3.0,Good,...,22,27,29,27,28,17,9,8,38.951883,-92.333737
1318,Kampala,Uganda,https://nomadlist.com/assets/img/places/kampal...,3.22,3,2,955.0,67.0,3.0,Bad,...,24,24,24,24,25,24,24,24,0.317714,32.581354
1319,La Serena,Chile,https://nomadlist.com/assets/img/places/la-ser...,3.21,3,3,1884.0,12.0,NaN,Okay,...,18,17,16,17,15,17,19,20,-29.902662,-71.252014

In [109]:
#actualizamos el csv con los valores tabla
cities.to_csv('../data/nomadlist_cities.csv',index=False)

### 2. Travelers csv scraped from Nomad list (clean and add information to the table)

In [11]:
#importamos csv de viajeros y las ciudades visitadas escrapeado de Nomad list
users = pd.read_csv('../data/user_cities.csv')

#muestra de la tabla
users.head()

      user                 City        Country  Time (days)
0  100marc  Fort Lauderdale, FL  United States          557
1  100marc            Miami, FL  United States          475
2  10kjuan     Andorra la Vella        Andorra            1
3  10kjuan            Barcelona          Spain          236
4  10kjuan             Belgrade         Serbia            7

In [112]:
#tamaño de la tabla
users.shape

(35325, 4)

In [114]:
#nulos en la tabla
users.isna().sum()

user           0
City           0
Country        0
Time (days)    0
dtype: int64

In [121]:
#vamos a agregar una columna que tenga ciudad y pais concatenada

users['City-Country'] = users.apply(lambda x: x['City']+', '+x['Country'], axis=1)

In [123]:
#muestra de la tabla
users.head()

,user,City,Country,Time (days),City-Country
0,100marc,"Fort Lauderdale, FL",United States,557,"Fort Lauderdale, FL, United States"
1,100marc,"Miami, FL",United States,475,"Miami, FL, United States"
2,10kjuan,Andorra la Vella,Andorra,1,"Andorra la Vella, Andorra"
3,10kjuan,Barcelona,Spain,236,"Barcelona, Spain"
4,10kjuan,Belgrade,Serbia,7,"Belgrade, Serbia"

In [124]:
#actualizamos el csv con los valores tabla
users.to_csv('../data/user_cities.csv',index=False)