# Final project: 
# Step 2: Data wrangling

In [255]:
#importar librerias
import pandas as pd
from tqdm import tqdm
import time
import math

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

from opencage.geocoder import OpenCageGeocode

### 1. Cities csv scraped from Nomad list (clean and add information to the table)

In [9]:
#importamos csv de ciudades escrapeado de Nomad list
cities = pd.read_csv('../data/nomadlist_cities.csv').drop('Unnamed: 0', axis=1)

#muestra de la tabla
cities.head()

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) Mar,Temperature (°C) Apr,Temperature (°C) May,Temperature (°C) Jun,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,19,18,22,21,23,25,24,21,17,16
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,30,30,30,28,27,27,27,29,30,31
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,24,24,25,22,21,22,21,21,21,20
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,...,36,37,35,32,31,31,31,31,30,28
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,...,15,18,20,28,28,32,26,23,16,8

In [295]:
%%time
#vamos a agregar la latitud, longitud y continente de cada ciudad con el api de OpenCage

#generamos un token para el API (guardado en otro archivo oculto)
from tokens import OpenCage_token

key = OpenCage_token
geocoder = OpenCageGeocode(key)

for i in tqdm(range(1150,len(cities))):
    try:
        query = cities.loc[i,'City']+', '+cities.loc[i,'Country']
        result = geocoder.geocode(query)
        #print(query)
        for e in result:
            if e['components']['_type']=='city':
                #print('es ciudad',e['geometry']['lat'],e['geometry']['lng'])
                cities.loc[i,'lat'] = e['geometry']['lat']
                cities.loc[i,'lng'] = e['geometry']['lng']
                cities.loc[i,'Continente'] = e['components']['continent']
                break
        #print('-----')
        time.sleep(0.3)
    except:
        print(i,query)

 88%|████████▊ | 1155/1310 [23:36<02:30,  1.03it/s]

1164 Sa Pa, Vietnam

 88%|████████▊ | 1156/1310 [23:37<02:10,  1.18it/s]

1165 St. George, UT, United States

 88%|████████▊ | 1157/1310 [23:38<01:55,  1.32it/s]

1166 Mandalay, Myanmar

 88%|████████▊ | 1158/1310 [23:38<01:50,  1.37it/s]

1167 Ningbo, China

 88%|████████▊ | 1159/1310 [23:39<01:43,  1.46it/s]

1168 Pristina, Kosovo

 89%|████████▊ | 1160/1310 [23:39<01:36,  1.55it/s]

1169 Vientiane, Laos

 89%|████████▊ | 1161/1310 [23:40<01:31,  1.63it/s]

1170 Hartford, CT, United States

 89%|████████▊ | 1162/1310 [23:42<02:16,  1.08it/s]

1171 Almere, Netherlands

 89%|████████▉ | 1163/1310 [23:42<01:59,  1.23it/s]

1172 Praia, Cape Verde

 89%|████████▉ | 1164/1310 [23:43<01:47,  1.36it/s]

1173 Marbella, Spain

 89%|████████▉ | 1165/1310 [23:43<01:38,  1.47it/s]

1174 Ithaca, NY, United States

 89%|████████▉ | 1166/1310 [23:44<01:31,  1.57it/s]

1175 Richmond, VA, United States

 89%|████████▉ | 1167/1310 [23:44<01:28,  1.62it/s]

1176 Gothenburg, Sweden

 89%|████████▉ | 1168/1310 [23:45<01:33,  1.51it/s]

1177 Rochester, NY, United States

 89%|████████▉ | 1169/1310 [23:46<01:29,  1.58it/s]

1178 Hagen, Germany

 89%|████████▉ | 1170/1310 [23:46<01:24,  1.65it/s]

1179 Alicante, Spain

 89%|████████▉ | 1171/1310 [23:47<01:21,  1.71it/s]

1180 Ocala, FL, United States

 89%|████████▉ | 1172/1310 [23:47<01:19,  1.73it/s]

1181 Tel Aviv, Israel

 90%|████████▉ | 1173/1310 [23:48<01:17,  1.77it/s]

1182 Puerto del Rosario, Fuerteventura, Spain

 90%|████████▉ | 1174/1310 [23:48<01:15,  1.79it/s]

1183 Batumi, Georgia

 90%|████████▉ | 1175/1310 [23:49<01:14,  1.80it/s]

1184 Windhoek, Namibia

 90%|████████▉ | 1176/1310 [23:49<01:13,  1.81it/s]

1185 Palm Bay, FL, United States

 90%|████████▉ | 1177/1310 [23:50<01:14,  1.78it/s]

1186 Sandpoint, ID, United States

 90%|████████▉ | 1178/1310 [23:51<01:20,  1.65it/s]

1187 Yakima, WA, United States

 90%|█████████ | 1179/1310 [23:51<01:17,  1.70it/s]

1188 Bogota, Colombia

 90%|█████████ | 1180/1310 [23:52<01:18,  1.66it/s]

1189 New Haven, CT, United States

 90%|█████████ | 1181/1310 [23:53<01:16,  1.69it/s]

1190 Oakland, CA, United States

 90%|█████████ | 1182/1310 [23:53<01:14,  1.73it/s]

1191 Grand Island, NE, United States

 90%|█████████ | 1183/1310 [23:54<01:13,  1.72it/s]

1192 Natal, Brazil

 90%|█████████ | 1184/1310 [23:54<01:11,  1.75it/s]

1193 Harlingen, TX, United States

 90%|█████████ | 1185/1310 [23:55<01:11,  1.75it/s]

1194 Aberdeen, United Kingdom

 91%|█████████ | 1186/1310 [23:55<01:09,  1.78it/s]

1195 Curitiba, Brazil

 91%|█████████ | 1187/1310 [23:56<01:08,  1.78it/s]

1196 Kolkata, India

 91%|█████████ | 1188/1310 [23:56<01:08,  1.79it/s]

1197 Campinas, Brazil

 91%|█████████ | 1189/1310 [23:57<01:09,  1.75it/s]

1198 Logan, UT, United States

 91%|█████████ | 1190/1310 [23:58<01:08,  1.76it/s]

1199 Andorra la Vella, Andorra

 91%|█████████ | 1191/1310 [23:58<01:07,  1.76it/s]

1200 Wichita, KS, United States

 91%|█████████ | 1192/1310 [23:59<01:09,  1.70it/s]

1201 Bandar Seri Begawan, Brunei

 91%|█████████ | 1193/1310 [23:59<01:07,  1.73it/s]

1202 North Little Rock, AR, United States

 91%|█████████ | 1194/1310 [24:00<01:06,  1.74it/s]

1203 Yuma, AZ, United States

 91%|█████████ | 1195/1310 [24:01<01:28,  1.30it/s]

1204 Patna, India

 91%|█████████▏| 1196/1310 [24:02<01:22,  1.38it/s]

1205 Tirupur, India

 91%|█████████▏| 1197/1310 [24:02<01:15,  1.49it/s]

1206 College Station, TX, United States

 91%|█████████▏| 1198/1310 [24:03<01:10,  1.58it/s]

1207 Surat, India

 92%|█████████▏| 1199/1310 [24:03<01:07,  1.65it/s]

1208 Manchester, NH, United States

 92%|█████████▏| 1200/1310 [24:04<01:07,  1.64it/s]

1209 Salta, Argentina

 92%|█████████▏| 1201/1310 [24:05<01:29,  1.22it/s]

1210 Kharkiv, Ukraine

 92%|█████████▏| 1202/1310 [24:06<01:20,  1.35it/s]

1211 Kollam, India

 92%|█████████▏| 1203/1310 [24:07<01:17,  1.38it/s]

1212 Fort Collins, CO, United States

 92%|█████████▏| 1204/1310 [24:07<01:12,  1.47it/s]

1213 Lynchburg, VA, United States

 92%|█████████▏| 1205/1310 [24:08<01:07,  1.56it/s]

1214 Yaounde, Cameroon

 92%|█████████▏| 1206/1310 [24:08<01:04,  1.62it/s]

1215 Weston, FL, United States

 92%|█████████▏| 1207/1310 [24:09<01:01,  1.67it/s]

1216 Bedford, OH, United States

 92%|█████████▏| 1208/1310 [24:09<00:59,  1.71it/s]

1217 Pasto, Colombia

 92%|█████████▏| 1209/1310 [24:10<00:58,  1.73it/s]

1218 Beacon, NY, United States

 92%|█████████▏| 1210/1310 [24:11<00:58,  1.71it/s]

1219 Bocas del Toro, Panama

 92%|█████████▏| 1211/1310 [24:11<00:56,  1.74it/s]

1220 Longview, TX, United States

 93%|█████████▎| 1212/1310 [24:12<00:55,  1.77it/s]

1221 Norfolk, VA, United States

 93%|█████████▎| 1213/1310 [24:12<00:54,  1.78it/s]

1222 Barrie, Canada

 93%|█████████▎| 1214/1310 [24:13<00:53,  1.81it/s]

1223 Bloomington, IN, United States

 93%|█████████▎| 1215/1310 [24:13<00:51,  1.83it/s]

1224 Toulouse, France

 93%|█████████▎| 1216/1310 [24:14<00:50,  1.85it/s]

1225 Cirebon, Indonesia

 93%|█████████▎| 1217/1310 [24:14<00:50,  1.83it/s]

1226 Rocky Mount, NC, United States

 93%|█████████▎| 1218/1310 [24:15<00:51,  1.80it/s]

1227 San Sebastian, Spain

 93%|█████████▎| 1219/1310 [24:15<00:50,  1.81it/s]

1228 Helena, MT, United States

 93%|█████████▎| 1220/1310 [24:16<00:49,  1.82it/s]

1229 Huddersfield, United Kingdom

 93%|█████████▎| 1221/1310 [24:17<00:48,  1.82it/s]

1230 Hof, Germany

 93%|█████████▎| 1222/1310 [24:17<00:48,  1.83it/s]

1231 Temple, TX, United States

 93%|█████████▎| 1223/1310 [24:18<00:47,  1.84it/s]

1232 Albuquerque, NM, United States

 93%|█████████▎| 1224/1310 [24:18<00:46,  1.85it/s]

1233 Cape Coral, FL, United States

 94%|█████████▎| 1225/1310 [24:19<00:45,  1.85it/s]

1234 Ramallah, Palestine

 94%|█████████▎| 1226/1310 [24:19<00:45,  1.85it/s]

1235 Southampton, United Kingdom

 94%|█████████▎| 1227/1310 [24:20<00:47,  1.76it/s]

1236 Bristol, United Kingdom

 94%|█████████▎| 1228/1310 [24:22<01:13,  1.12it/s]

1237 Cartagena, Colombia

 94%|█████████▍| 1229/1310 [24:22<01:03,  1.27it/s]

1238 Kaunas, Lithuania

 94%|█████████▍| 1230/1310 [24:23<00:56,  1.40it/s]

1239 Rockford, IL, United States

 94%|█████████▍| 1231/1310 [24:23<00:52,  1.50it/s]

1240 Rishikesh, India

 94%|█████████▍| 1232/1310 [24:24<00:49,  1.58it/s]

1241 Grand Junction, CO, United States

 94%|█████████▍| 1233/1310 [24:24<00:46,  1.64it/s]

1242 Ko Chang, Thailand

 94%|█████████▍| 1234/1310 [24:25<00:45,  1.69it/s]

1243 Guiyang, China

 94%|█████████▍| 1235/1310 [24:25<00:43,  1.72it/s]

1244 Modesto, CA, United States

 94%|█████████▍| 1236/1310 [24:26<00:42,  1.76it/s]

1245 Cork, Ireland

 94%|█████████▍| 1237/1310 [24:26<00:41,  1.75it/s]

1246 Ivano-Frankivsk, Ukraine

 95%|█████████▍| 1238/1310 [24:27<00:40,  1.78it/s]

1247 Cordoba, Spain

 95%|█████████▍| 1239/1310 [24:28<00:39,  1.80it/s]

1248 Cairo, Egypt

 95%|█████████▍| 1240/1310 [24:28<00:40,  1.73it/s]

1249 Mancora, Peru

 95%|█████████▍| 1241/1310 [24:29<00:39,  1.76it/s]

1250 Fes, Morocco

 95%|█████████▍| 1242/1310 [24:29<00:38,  1.78it/s]

1251 Rotterdam, Netherlands

 95%|█████████▍| 1243/1310 [24:30<00:38,  1.72it/s]

1252 Dayton, OH, United States

 95%|█████████▍| 1244/1310 [24:30<00:37,  1.75it/s]

1253 Salvador, Brazil

 95%|█████████▌| 1245/1310 [24:31<00:36,  1.78it/s]

1254 Avellino, Italy

 95%|█████████▌| 1246/1310 [24:32<00:35,  1.79it/s]

1255 Portland, ME, United States

 95%|█████████▌| 1247/1310 [24:32<00:34,  1.80it/s]

1256 Flagstaff, AZ, United States

 95%|█████████▌| 1248/1310 [24:34<01:01,  1.00it/s]

1257 Suzhou, China

 95%|█████████▌| 1249/1310 [24:35<00:53,  1.15it/s]

1258 Tunis, Tunisia

 95%|█████████▌| 1250/1310 [24:35<00:46,  1.29it/s]

1259 Viña del Mar, Chile

 95%|█████████▌| 1251/1310 [24:36<00:43,  1.37it/s]

1260 Quanzhou, China

 96%|█████████▌| 1252/1310 [24:36<00:39,  1.47it/s]

1261 Enterprise, NV, United States

 96%|█████████▌| 1253/1310 [24:37<00:36,  1.57it/s]

1262 Chachapoyas, Peru

 96%|█████████▌| 1254/1310 [24:38<00:34,  1.64it/s]

1263 Chengdu, China

 96%|█████████▌| 1255/1310 [24:39<00:49,  1.12it/s]

1264 Providence, RI, United States

 96%|█████████▌| 1256/1310 [24:40<00:42,  1.27it/s]

1265 Zunyi, China

 96%|█████████▌| 1257/1310 [24:41<00:48,  1.09it/s]

1266 Greeley, CO, United States

 96%|█████████▌| 1258/1310 [24:42<00:52,  1.01s/it]

1267 Nashua, NH, United States

 96%|█████████▌| 1259/1310 [24:43<00:44,  1.14it/s]

1268 Lake Havasu City, AZ, United States

 96%|█████████▌| 1260/1310 [24:43<00:38,  1.29it/s]

1269 Ghent, Belgium

 96%|█████████▋| 1261/1310 [24:44<00:34,  1.41it/s]

1270 Daegu, South Korea

 96%|█████████▋| 1262/1310 [24:44<00:31,  1.52it/s]

1271 Fort McMurray, Canada

 96%|█████████▋| 1263/1310 [24:45<00:30,  1.52it/s]

1272 Kotor, Montenegro

 96%|█████████▋| 1264/1310 [24:45<00:28,  1.62it/s]

1273 Lawton, OK, United States

 97%|█████████▋| 1265/1310 [24:46<00:26,  1.68it/s]

1274 Gwangju, South Korea

 97%|█████████▋| 1266/1310 [24:47<00:33,  1.32it/s]

1275 Mbuji-Mayi, DR Congo

 97%|█████████▋| 1267/1310 [24:48<00:31,  1.36it/s]

1276 Baltimore, MD, United States

 97%|█████████▋| 1268/1310 [24:48<00:28,  1.48it/s]

1277 Huambo, Angola

 97%|█████████▋| 1269/1310 [24:49<00:27,  1.47it/s]

1278 York, United Kingdom

 97%|█████████▋| 1270/1310 [24:50<00:33,  1.19it/s]

1279 Kinshasa, DR Congo

 97%|█████████▋| 1271/1310 [24:51<00:29,  1.33it/s]

1280 Vista, CA, United States

 97%|█████████▋| 1272/1310 [24:51<00:26,  1.45it/s]

1281 Iquique, Chile

 97%|█████████▋| 1273/1310 [24:52<00:23,  1.54it/s]

1282 Elkhart, IN, United States

 97%|█████████▋| 1274/1310 [24:52<00:22,  1.59it/s]

1283 Macau, China

 97%|█████████▋| 1275/1310 [24:53<00:22,  1.56it/s]

1284 Panajachel, Guatemala

 97%|█████████▋| 1276/1310 [24:54<00:20,  1.64it/s]

1285 Marysville, WA, United States

 97%|█████████▋| 1277/1310 [24:54<00:19,  1.69it/s]

1286 Bern, Switzerland

 98%|█████████▊| 1278/1310 [24:55<00:19,  1.67it/s]

1287 Rennes, France

 98%|█████████▊| 1279/1310 [24:55<00:18,  1.68it/s]

1288 Chongqing, China

 98%|█████████▊| 1280/1310 [24:56<00:17,  1.73it/s]

1289 Dili, East Timor

 98%|█████████▊| 1281/1310 [24:57<00:16,  1.71it/s]

1290 Uberlandia, Brazil

 98%|█████████▊| 1282/1310 [24:57<00:16,  1.75it/s]

1291 Santa Teresa, Costa Rica

 98%|█████████▊| 1283/1310 [24:58<00:15,  1.77it/s]

1292 Guatemala City, Guatemala

 98%|█████████▊| 1284/1310 [24:58<00:14,  1.80it/s]

1293 Shrewsbury, United Kingdom

 98%|█████████▊| 1285/1310 [24:59<00:13,  1.80it/s]

1294 Mar del Plata, Argentina

 98%|█████████▊| 1286/1310 [25:00<00:20,  1.16it/s]

1295 Cavtat, Croatia

 98%|█████████▊| 1287/1310 [25:01<00:17,  1.30it/s]

1296 Bremen, Germany

 98%|█████████▊| 1288/1310 [25:01<00:15,  1.43it/s]

1297 Cabarete, Dominican Republic

 98%|█████████▊| 1289/1310 [25:02<00:13,  1.53it/s]

1298 Budva, Montenegro

 98%|█████████▊| 1290/1310 [25:03<00:12,  1.62it/s]

1299 La Paz, Bolivia

 99%|█████████▊| 1291/1310 [25:03<00:11,  1.67it/s]

1300 Jiamusi, China

 99%|█████████▊| 1292/1310 [25:04<00:10,  1.71it/s]

1301 Guangzhou, China

 99%|█████████▊| 1293/1310 [25:04<00:09,  1.76it/s]

1302 Philadelphia, PA, United States

 99%|█████████▉| 1294/1310 [25:05<00:09,  1.70it/s]

1303 Fairfax, VA, United States

 99%|█████████▉| 1295/1310 [25:05<00:08,  1.72it/s]

1304 Jiangmen, China

 99%|█████████▉| 1296/1310 [25:06<00:08,  1.70it/s]

1305 Leiden, Netherlands

 99%|█████████▉| 1297/1310 [25:06<00:07,  1.73it/s]

1306 Wilmington, NC, United States

 99%|█████████▉| 1298/1310 [25:07<00:06,  1.77it/s]

1307 Dubrovnik, Croatia

 99%|█████████▉| 1299/1310 [25:08<00:06,  1.78it/s]

1308 Klaipeda, Lithuania

 99%|█████████▉| 1300/1310 [25:08<00:05,  1.80it/s]

1309 Suwon, South Korea

 99%|█████████▉| 1301/1310 [25:09<00:04,  1.82it/s]

1310 Shantou, China

 99%|█████████▉| 1302/1310 [25:09<00:04,  1.82it/s]

1311 Yangshuo, China

 99%|█████████▉| 1303/1310 [25:10<00:03,  1.82it/s]

1312 Flint, MI, United States

100%|█████████▉| 1304/1310 [25:10<00:03,  1.83it/s]

1313 San Cristóbal de las Casas, Mexico

100%|█████████▉| 1305/1310 [25:11<00:02,  1.83it/s]

1314 Reading, United Kingdom

100%|█████████▉| 1306/1310 [25:11<00:02,  1.82it/s]

1315 St. Cloud, MN, United States

100%|█████████▉| 1307/1310 [25:12<00:01,  1.83it/s]

1316 Volgograd, Russia

100%|█████████▉| 1308/1310 [25:12<00:01,  1.82it/s]

1317 Columbia, MO, United States

100%|█████████▉| 1309/1310 [25:13<00:00,  1.84it/s]

1318 Kampala, Uganda

100%|██████████| 1310/1310 [25:14<00:00,  1.16s/it]

1319 La Serena, Chile
CPU times: user 39.6 s, sys: 3.11 s, total: 42.7 s
Wall time: 25min 14s

In [300]:
#muestra de la tabla incluyendo latitud, longitud y continente
cities.head()

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec,lat,lng,Closest Cities (km),Continente,City-Country
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,25,24,21,17,16,38.707751,-9.136592,"{'Ericeira': 37, 'Coimbra': 177, 'Portimão': 1...",Europe,"Lisbon, Portugal"
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,27,27,29,30,31,-8.650618,115.136499,"{'Seminyak, Bali': 5, 'Denpasar, Bali': 9, 'Ku...",Asia,"Canggu, Bali, Indonesia"
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,22,21,21,21,20,19.432630,-99.133178,"{'Toluca': 57, 'Puebla': 107, 'Queretaro': 184...",North America,"Mexico City, Mexico"
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,...,31,31,31,30,28,18.790876,98.988048,"{'Pai': 85, 'Chiang Rai': 152, 'Naypyidaw': 31...",Asia,"Chiang Mai, Thailand"
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,...,32,26,23,16,8,44.817813,20.456897,"{'Novi Sad': 68, 'Timisoara': 120, 'Osijek': 1...",Europe,"Belgrade, Serbia"

In [302]:
cities[cities['Continente'].isna()]

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec,lat,lng,Closest Cities (km),Continente,City-Country
20,"George Town, Penang",Malaysia,https://nomadlist.com/assets/img/places/george...,4.15,4,3,1102.0,19.0,3.0,Good,...,31,31,30,30,30,5.414568,100.329803,"{'Langkawi': 121, 'Ipoh': 123, 'Ko Lipe': 164,...",NaN,"George Town, Penang, Malaysia"
67,Nakhon Ratchasima,Thailand,https://nomadlist.com/assets/img/places/nakhon...,3.86,3,3,1053.0,81.0,3.0,Great,...,30,30,30,29,30,15.224192,101.931375,"{'Bangkok': 225, 'Udon Thani': 258, 'Pattaya':...",NaN,"Nakhon Ratchasima, Thailand"
69,"Las Palmas, Canary Islands",Spain,https://nomadlist.com/assets/img/places/las-pa...,3.77,4,4,2278.0,29.0,4.0,Great,...,25,25,25,23,21,28.128874,-15.434945,"{'Tenerife, Canary Islands': 117, 'Puerto del ...",NaN,"Las Palmas, Canary Islands, Spain"
75,Palawan,Philippines,https://nomadlist.com/assets/img/places/palawa...,3.84,3,3,1372.0,7.0,5.0,Good,...,31,31,31,31,30,10.000000,118.750000,"{'Boracay': 409, 'Kota Kinabalu': 535, 'Makati...",NaN,"Palawan, Philippines"
100,Galle,Sri Lanka,https://nomadlist.com/assets/img/places/galle-...,3.76,3,3,1361.0,8.0,5.0,Good,...,29,29,29,30,29,6.032814,80.214955,"{'Matara': 38, 'Colombo': 107, 'Kandy': 147, '...",NaN,"Galle, Sri Lanka"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,"St. Cloud, MN",United States,https://nomadlist.com/assets/img/places/st-clo...,3.22,4,4,3860.0,44.0,3.0,Great,...,23,20,9,1,-3,45.561608,-94.164200,"{'Minneapolis, MN': 95, 'Duluth, MN': 206, 'Ro...",NaN,"St. Cloud, MN, United States"
1316,Volgograd,Russia,https://nomadlist.com/assets/img/places/volgog...,3.22,3,2,1276.0,14.0,2.0,Okay,...,26,23,17,4,2,48.708191,44.515335,"{'Saratov': 332, 'Novocherkassk': 358, 'Rostov...",NaN,"Volgograd, Russia"
1317,"Columbia, MO",United States,https://nomadlist.com/assets/img/places/columb...,3.22,4,3,3637.0,35.0,3.0,Good,...,27,28,17,9,8,38.951883,-92.333737,"{'Bridgeton, MO': 167, 'St. Louis, MO': 188, '...",NaN,"Columbia, MO, United States"
1318,Kampala,Uganda,https://nomadlist.com/assets/img/places/kampal...,3.22,3,2,955.0,67.0,3.0,Bad,...,24,25,24,24,24,0.317714,32.581354,"{'Kigali': 377, 'Nairobi': 503, 'Juba': 515, '...",NaN,"Kampala, Uganda"
1319,La Serena,Chile,https://nomadlist.com/assets/img/places/la-ser...,3.21,3,3,1884.0,12.0,NaN,Okay,...,17,15,17,19,20,-29.902631,-71.252025,"{'Viña del Mar': 348, 'Valparaíso': 351, 'Sant...",NaN,"La Serena, Chile"

In [277]:
#vamos a generar una lista de las ciudades más cercanas a cada una (menos de 1300km)

#función para generar una lista con las ciudades más cercanas a cada una según su latitud y longitud
def closest_cities(row,table):
    rad = 6373.0
    closest_d = []
    closest_c = []
    for i in range(len(table)):
        try:
            lat1 = math.radians(row["lat"])
            lon1 = math.radians(row["lng"])
            lat2 = math.radians(table.loc[i,"lat"])
            lon2 = math.radians(table.loc[i,"lng"])
            dlon = lon2 - lon1
            dlat = lat2 - lat1
            a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
            c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
            distance = int(rad * c)
            if distance <= 1300:
                closest_d.append(distance)
                closest_c.append(table.loc[i,"City"])
        except:
            pass  
    zipped = zip(closest_c,closest_d)
    sorted_zip = sorted(zipped, key=lambda tup: tup[1])
    cerc = sorted_zip[1:6]
    return dict(cerc)

In [278]:
#generamos la columna de las ciudades más cercanas a cada ciudad
cities["Closest Cities (km)"] = cities.apply(lambda x: closest_cities(x,cities), axis = 1)

In [296]:
#muestra de la tabla incluyendo ciudades cercanas
cities.head(3)

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,...,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec,lat,lng,Closest Cities (km),Continente
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,...,23,25,24,21,17,16,38.707751,-9.136592,"{'Ericeira': 37, 'Coimbra': 177, 'Portimão': 1...",Europe
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,...,27,27,27,29,30,31,-8.650618,115.136499,"{'Seminyak, Bali': 5, 'Denpasar, Bali': 9, 'Ku...",Asia
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,...,21,22,21,21,21,20,19.432630,-99.133178,"{'Toluca': 57, 'Puebla': 107, 'Queretaro': 184...",North America

In [303]:
#vamos a agregar una columna que tenga ciudad y pais concatenada

cities['City-Country'] = cities.apply(lambda x: x['City']+', '+x['Country'], axis=1)

In [304]:
#actualizamos el csv con los valores tabla
cities.to_csv('../data/nomadlist_cities.csv',index=False)

### 2. Travelers csv scraped from Nomad list (clean and add information to the table)

In [11]:
#importamos csv de viajeros y las ciudades visitadas escrapeado de Nomad list
users = pd.read_csv('../data/user_cities.csv')

#muestra de la tabla
users.head()

      user                 City        Country  Time (days)
0  100marc  Fort Lauderdale, FL  United States          557
1  100marc            Miami, FL  United States          475
2  10kjuan     Andorra la Vella        Andorra            1
3  10kjuan            Barcelona          Spain          236
4  10kjuan             Belgrade         Serbia            7

In [112]:
#tamaño de la tabla
users.shape

(35325, 4)

In [114]:
#nulos en la tabla
users.isna().sum()

user           0
City           0
Country        0
Time (days)    0
dtype: int64

In [121]:
#vamos a agregar una columna que tenga ciudad y pais concatenada

users['City-Country'] = users.apply(lambda x: x['City']+', '+x['Country'], axis=1)

In [123]:
#muestra de la tabla
users.head()

,user,City,Country,Time (days),City-Country
0,100marc,"Fort Lauderdale, FL",United States,557,"Fort Lauderdale, FL, United States"
1,100marc,"Miami, FL",United States,475,"Miami, FL, United States"
2,10kjuan,Andorra la Vella,Andorra,1,"Andorra la Vella, Andorra"
3,10kjuan,Barcelona,Spain,236,"Barcelona, Spain"
4,10kjuan,Belgrade,Serbia,7,"Belgrade, Serbia"

In [124]:
#actualizamos el csv con los valores tabla
users.to_csv('../data/user_cities.csv',index=False)

### 3. Cities names in english and spanish

In [244]:
cities_lang = cities[['City','Country']]
cities_lang['City-Country_EN'] = cities_lang.apply(lambda x: x['City']+', '+x['Country'], axis=1)

In [245]:
#tenemos una lista con las ciudades traducidas a español en otro archivo, lo importamos
%reload_ext autoreload
%autoreload 2

from ciudades_en_ES import ciudades_pais_ES
from ciudades_en_ES import ciudades_ES

In [246]:
#agregamos las columnas al dataframe
cities_lang['City_ES'] = ciudades_ES
cities_lang['City-Country_ES'] = ciudades_pais_ES

In [247]:
#agregamos la columna de otros al dataframe con otras opciones de ciudades
cities_lang['Other'] = cities_lang.apply(lambda x: x['City'] if ', ' not in x['City'] else x['City'].split(', ')[0], axis=1)
cities_lang['Other_ES'] = cities_lang.apply(lambda x: x['City_ES'] if ', ' not in x['City_ES'] else x['City'].split(', ')[0], axis=1)

'''cities_lang['Other_2'] = cities_lang.apply(lambda x: x['City'] if ', ' not in x['City'] else x['City'].split(', ')[1], axis=1)
cities_lang['Other_ES_2'] = cities_lang.apply(lambda x: x['City_ES'] if ', ' not in x['City_ES'] else x['City'].split(', ')[1], axis=1)'''

"cities_lang['Other_2'] = cities_lang.apply(lambda x: x['City'] if ', ' not in x['City'] else x['City'].split(', ')[1], axis=1)\ncities_lang['Other_ES_2'] = cities_lang.apply(lambda x: x['City_ES'] if ', ' not in x['City_ES'] else x['City'].split(', ')[1], axis=1)"

In [248]:
#muestra de la tabla
cities_lang

,City,Country,City-Country_EN,City_ES,City-Country_ES,Other,Other_ES
0,Lisbon,Portugal,"Lisbon, Portugal",Lisboa,"Lisboa, Portugal",Lisbon,Lisboa
1,"Canggu, Bali",Indonesia,"Canggu, Bali, Indonesia","Canggu, Bali","Canggu, Bali, Indonesia",Canggu,Canggu
2,Mexico City,Mexico,"Mexico City, Mexico",Ciudad de México,"Ciudad de México, México",Mexico City,Ciudad de México
3,Chiang Mai,Thailand,"Chiang Mai, Thailand",Chiang Mai,"Chiang Mai, Tailandia",Chiang Mai,Chiang Mai
4,Belgrade,Serbia,"Belgrade, Serbia",Belgrado,"Belgrado, Serbia",Belgrade,Belgrado
...,...,...,...,...,...,...,...
1315,"St. Cloud, MN",United States,"St. Cloud, MN, United States","St. Cloud, MN","S t. Cloud, MN, Estados Unidos",St. Cloud,St. Cloud
1316,Volgograd,Russia,"Volgograd, Russia",Volgogrado,"Volgogrado, Rusia",Volgograd,Volgogrado
1317,"Columbia, MO",United States,"Columbia, MO, United States","Columbia, MO","Columbia, MO, Estados Unidos",Columbia,Columbia
1318,Kampala,Uganda,"Kampala, Uganda",Kampala,"Kampala, Uganda",Kampala,Kampala
1319,La Serena,Chile,"La Serena, Chile",La Serena,"La Serena, Chile",La Serena,La Serena

In [249]:
#generamos el csv con los valores tabla
cities_lang.to_csv('../data/cities_lang.csv',index=False)

### 4. Dataframe that combine all the columns from cities_lang into 1 column (to match cities)

In [251]:
#generamos una tabla que solo traiga una columna con todos los valores y su City_Country_EN
#Esto va a servir para machear ciudades

city_lst = cities_lang[['City','City-Country_EN']]

lst = ['City_ES', 'City-Country_ES',
       'Other', 'Other_ES']

for i in lst:
    city = cities_lang[[i,'City-Country_EN']]
    city.columns = ['City','City-Country_EN']

    city_lst = city_lst.merge(city, how='outer')

In [252]:
#muestra de la tabla
city_lst

              City                City-Country_EN
0           Lisbon               Lisbon, Portugal
1     Canggu, Bali        Canggu, Bali, Indonesia
2      Mexico City            Mexico City, Mexico
3       Chiang Mai           Chiang Mai, Thailand
4         Belgrade               Belgrade, Serbia
...            ...                            ...
3215       Fairfax     Fairfax, VA, United States
3216    Wilmington  Wilmington, NC, United States
3217         Flint       Flint, MI, United States
3218     St. Cloud   St. Cloud, MN, United States
3219      Columbia    Columbia, MO, United States

[3220 rows x 2 columns]

In [253]:
#generamos el csv con los valores tabla
city_lst.to_csv('../data/cities_for_user_input.csv',index=False)