# Final project: 
# Step 1: Data acquisition

In [3]:
#importar librerias
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

import re
import random

from tqdm import tqdm

import requests
import time
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

### 1. First source: a public database of cities in the world (.csv)
https://www.kaggle.com/dataset/f66386cd35268fd2ae9c7c03e6e4d93c9b1607265c1adef13f99a76e420be997/version/1

In [57]:
#extraer CSV con base de datos de ciudades
cities = pd.read_csv('../Data/worldcities.csv')

In [58]:
#imprimir una muestra de la tabla
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764
1,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881
3,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,Mahārāshtra,admin,18978000.0,1356226629
4,São Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,São Paulo,admin,18845000.0,1076532519

In [59]:
#eliminamos columnas que no nos van a servir
cities.drop(['admin_name', 'capital',"id"], axis=1, inplace=True)

In [60]:
#renombramos las columnas
cities.columns = ['Original name', 'City', 'Lat', 'Lon', 'Country', 'ISO2', 'ISO3', 'Population']

In [61]:
#hay varias ciudades que estan duplicadas, eliminamos los registros repetidos y solo dejamos el primer registro
cities.drop_duplicates(subset=['City', 'Country'], keep='first',inplace=True)

In [62]:
#imprimir una muestra de la tabla
cities.head()

,Original name,City,Lat,Lon,Country,ISO2,ISO3,Population
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,35676000.0
1,New York,New York,40.6943,-73.9249,United States,US,USA,19354922.0
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,19028000.0
3,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,18978000.0
4,São Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,18845000.0

In [63]:
#generamos el csv de la tabla
cities.to_csv('../data/worldcities_clean.csv',index=False)

### 2. Second source: a public database of prices by city (web scrapping)
https://www.numbeo.com/cost-of-living/prices_by_city.jsp?displayCurrency=USD&itemId=118&itemId=15&itemId=11&itemId=13&itemId=1

In [64]:
#hacemos el request de la segunda fuente de datos (vamos a  sacar los datos con web srapping)
url = 'https://www.numbeo.com/cost-of-living/prices_by_city.jsp?displayCurrency=USD&itemId=118&itemId=15&itemId=11&itemId=13&itemId=1'
resp = requests.get(url)
sopa = bs(resp.content, "html.parser")

In [65]:
#llamamos a la tabla de la página
table = sopa.find("table",{"id":"t2"})

In [66]:
#sacamos cada fila de la tabla
filas = table.findAll("tr")

In [67]:
#eliminamos la primera fila (son los titulos de columna)
filas.pop(0)

<tr>
<th><div style="font-size: 80%; vertical-align: middle;">Rank</div></th>
<th><div class="font_in_table_headers">City</div></th><th><div class="font_in_table_headers">Meal, Inexpensive Restaurant</div></th><th><div class="font_in_table_headers">Eggs <br/>(regular) <br/>(12)</div></th><th><div class="font_in_table_headers">Water <br/>(1.5 liter bottle)</div></th><th><div class="font_in_table_headers">Domestic Beer <br/>(0.5 liter bottle)</div></th><th><div class="font_in_table_headers">Banana <br/>(1kg)</div></th></tr>

In [68]:
#generamos el data frame con la información
numbeo = []

for i in filas:
    city = i.findAll("td")[1].text.split(", ")[0]
    city = re.sub("\(.*\)","",city).strip()
    country = i.findAll("td")[1].text.split(", ")[-1].strip()
    country = re.sub("\(.*\)","",country).strip()
    meal = i.findAll("td")[2].text.strip()
    eggs = i.findAll("td")[3].text.strip()
    water = i.findAll("td")[4].text.strip()
    beer = i.findAll("td")[5].text.strip()
    banana = i.findAll("td")[6].text.strip()
    
    row = {"City": city,"Country": country, "Meal (Inexpensive Restaurant) (USD)": meal,"Eggs (12) (USD)": eggs,"Water (1.5 liter bottle) (USD)": water,"Domestic Beer (USD)": beer,"Banana (1kg) (USD)": banana}
    numbeo.append(row)
    
numbeo_df = pd.DataFrame(numbeo)
numbeo_df.head()

,City,Country,Meal (Inexpensive Restaurant) (USD),Eggs (12) (USD),Water (1.5 liter bottle) (USD),Domestic Beer (USD),Banana (1kg) (USD)
0,Saint Petersburg,Russia,6.47,1.09,0.55,0.85,0.83
1,Samara,Russia,6.47,0.93,0.42,0.69,0.87
2,Algiers,Algeria,3.09,1.14,0.24,1.78,1.87
3,Saratov,Russia,5.18,0.97,0.35,0.81,0.78
4,Banja Luka,Bosnia And Herzegovina,4.76,1.78,0.60,0.63,1.28

In [69]:
#generamos el csv con la tabla
num.to_csv('../data/numbeo_cities.csv',index=False)

### 3. Third source: a public list of daily budget by city for backpackers (web scrapping)
https://www.priceoftravel.com/world-cities-by-price-backpacker-index/

In [30]:
#hacemos el request de la tercera fuente de datos (vamos a  sacar los datos con web srapping)
url = 'https://www.priceoftravel.com/world-cities-by-price-backpacker-index/'
resp = requests.get(url)
sopa = bs(resp.content, "html.parser")

In [31]:
#llamamos a los elementos que nos van a servir del html
lst = sopa.find("div",{"class":"bpiidx_list"}).findAllNext("div",{"id":"bpi_row1"})

In [32]:
#generamos el dataframe con los datos extraidos
index = []

for i in lst:
    city = i.findAll("div",{"class":"bpidx"})[2].text.split(", ")[0]
    city = re.sub("\(.*\)","",city).strip()
    country = i.findAll("div",{"class":"bpidx"})[2].text.split(", ")[-1].strip()
    budget = i.findAll("div",{"class":"bpidx"})[1].text
    
    row = {"City": city,"Country": country, "Daily Budget": budget}
    index.append(row)
    
index_df = pd.DataFrame(index)
index_df.head()

        City   Country Daily Budget
0      Hanoi  Viet Nam       $19.70
1     Saigon  Viet Nam       $20.54
2  Vientiane      Laos       $21.07
3     Hoi An  Viet Nam       $21.48
4    Pokhara     Nepal       $21.71

In [ ]:
#generamos el csv con la tabla
index_df.to_csv('../data/backpackers_index.csv',index=False)

### 4. Fourth source: Information (a lot) about cities around the world (web scrapping with Selenium)
https://nomadlist.com/

In [70]:
#abrimos el navegador de Selenium
navegador = webdriver.Chrome()

In [71]:
#maximizamos el navegador
navegador.maximize_window()

In [72]:
#vamos al url
navegador.get('https://nomadlist.com/userApi.php?action=login_by_email&hash=91e7c90f5dcbfc27710077645e4f4841b8949523')

In [75]:
#abrimos el menu
menu = navegador.find_element_by_xpath('/html/body/div[3]/div/div[1]/span')
menu.click()

In [76]:
#buscamos el home
home = navegador.find_element_by_xpath('/html/body/div[5]/a[1]')
home.click()

In [286]:
#lista de ciudades
#ciudades = []
#lst_ciudades = []

In [97]:
#Si hay dos archivos de checkpoint CSV (juntamos los archivos generados)
ciudades_df = pd.read_csv('nomadlist_cities.csv').drop('Unnamed: 0', axis=1)
ciudades2_df = pd.read_csv('nomadlist_cities2.csv').drop('Unnamed: 0', axis=1)

#generamos una lista de las ciudades para ir haciendo el append
ciudades = ciudades_df.to_dict('records') + ciudades2_df.to_dict('records')

#total de ciudades ya escrapeadas
print(len(ciudades))

#generamos una lista para verificar si ya está añadida la ciudad
lst_ciudades = [i['City']+'-'+i['Country'] for i in ciudades]

2225

In [90]:
#Si solo es un archivo de checkpoint CSV
ciudades_df = pd.read_csv('nomadlist_cities.csv').drop('Unnamed: 0', axis=1)

#generamos una lista de las ciudades para ir haciendo el append
ciudades = ciudades_df.to_dict('records')

#total de ciudades ya escrapeadas
print(len(ciudades))

#generamos una lista para verificar si ya está añadida la ciudad
lst_ciudades = [i['City']+'-'+i['Country'] for i in ciudades]

1175

In [78]:
#scroll al final de la página
n_ciudades = len(navegador.find_elements_by_tag_name('li'))

while n_ciudades<800:
    navegador.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(4)
    n_ciudades = len(navegador.find_elements_by_tag_name('li'))

In [91]:
#scraping de todas las ciudades (tarda alrededor de 10 horas)
%%time

#variable para generar checpoints
saver = 0

#loop para generar la información de cada ciudad
for i in tqdm(range(1,1350)):
    try:
        #seleccionamos una ciudad
        cada_ciudad = navegador.find_element_by_xpath(f'/html/body/div[7]/ul/li[{i}]')

        #diccionario de la ciudad
        data_ciudad = {}

        #nombre de la ciudad
        data_ciudad['City'] = cada_ciudad.find_element_by_class_name('itemName').text
        
        #nombre del pais
        try:
            data_ciudad['Country'] = cada_ciudad.find_element_by_class_name('itemSub').text
        except:
            data_ciudad['Country'] = data_ciudad['City']
        
        #si la ciudad no está en la lista (ya scrapeada), hacer el web scrapping
        if data_ciudad['City']+'-'+data_ciudad['Country'] in lst_ciudades:
            #print(data_ciudad['City']+'-'+data_ciudad['Country']+'---Ya está en lista')
            pass
        else:
            #dar click a la ciudad
            cada_ciudad.click()
            time.sleep(2)
            
            #url de la foto
            data_ciudad['Photo'] = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[1]/img').get_attribute('src')
            
            #anexamos la ciudad y pais a la lista de ciudades scrapeadas
            lst_ciudades.append(data_ciudad['City']+'-'+data_ciudad['Country'])
            
            #####sacamos información de la ciudad

            #tab de scores
            nomad_guide = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[2]/div[4]/ul/h3[1]')
            nomad_guide.click()

            time.sleep(1)

            tabla = navegador.find_element_by_xpath('//*[@id="body"]/div[32]/div[3]/div[2]/div[5]/div/div[1]/table/tbody')
            data = tabla.find_elements_by_tag_name('tr')

            for i in data:
                try:
                    titulo = i.find_element_by_class_name('key').text
                    titulo = re.sub('[^a-zA-Z ]',"",titulo).strip()
                except:
                    pass

                lst = ['Overall Score', 'Quality of life score', 'Family score', 'Cost',
                       'Fun', 'Safety', 'Education level', 'English speaking', 'People density /km²', 
                       'Walkability', 'Peace', 'Traffic safety', 'Hospitals', 'Happiness', 'Nightlife', 
                       'Free WiFi in city', 'Places to work from', 'A/C or heating', 
                       'Friendly to foreigners', 'Freedom of speech', 'Racial tolerance', 
                       'Female friendly', 'LGBTQ friendly', 'Startup Score']
                if titulo in lst:
                    contenido = i.find_element_by_class_name('value').text
                    if titulo == 'Overall Score':
                        contenido = contenido.split('/')[0]
                    elif titulo == 'Cost':
                        contenido = contenido.split(' ')[2]
                        contenido = re.sub('[^0-9. ]',"",contenido)
                        titulo = 'Cost/month (USD)'
                    elif i.get_attribute('data-value') != None:
                        contenido = i.get_attribute('data-value')

                    data_ciudad[titulo] = contenido

            #tab de Nomad
            nomad_guide = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[2]/div[4]/ul/h3[2]')
            nomad_guide.click()

            time.sleep(1)

            tabla = navegador.find_element_by_xpath('//*[@id="body"]/div[32]/div[3]/div[2]/div[5]/div/div[2]/table/tbody')
            data = tabla.find_elements_by_tag_name('tr')

            for i in data:
                try:
                    titulo = i.find_element_by_class_name('key').text
                    titulo = re.sub('[^a-zA-Z ]',"",titulo).strip()
                except:
                    pass

                lst = ['Best taxi app in country','Internet speed avg','Best wireless carrier','Best wireless carrier','Tipping','Cashless society','Safe tap water','Population']
                if titulo in lst:
                    contenido = i.find_element_by_class_name('value').text
                    if titulo == 'Internet speed avg':
                        contenido = contenido.split(' ')
                        tit = contenido[1].strip()
                        titulo = f'Internet {tit}'
                        contenido = contenido[0].strip()
                    else:
                        contenido = re.sub('[^a-zA-Z0-9 ]',"",contenido).strip().split(' ')[0]
                    data_ciudad[titulo] = contenido

            #tab de Weather
            nomad_guide = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[2]/div[4]/ul/h3[7]')
            nomad_guide.click()

            time.sleep(1)

            tabla = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[2]/div[5]/div/div[7]/div/table/tbody')
            data = tabla.find_elements_by_tag_name('tr')

            meses = data[0].text.split(' ')
            temp = [i.split('°')[0] for i in data[2].text.split(' ')[1:] if '°' in i]

            for i,e in enumerate(meses):
                data_ciudad[f'Temperature (°C) {e}'] = temp[i]

            #agregar la información a la lista principal de ciudades
            ciudades.append(data_ciudad)

            #cerrar ciudad
            close = navegador.find_element_by_xpath('//*[@id="body"]/div[33]/div')
            close.click()
            
            #subimos la variable de checkpoints
            saver +=1
            
            time.sleep(1)
            
            #guardamos un checkpoint de csv cada 10 ciudades scrapeadas 
            if saver % 10==0:
                ciudades_df = pd.DataFrame(ciudades)
                ciudades_df.to_csv('nomadlist_cities.csv')
    except:
        pass

100%|██████████| 799/799 [1:10:33<00:00,  5.30s/it]

CPU times: user 21.8 s, sys: 1.62 s, total: 23.4 s
Wall time: 1h 10min 33s

In [98]:
#generamos un dataframe con la lista de datos scrapeados de cada ciudad
ciudades_df = pd.DataFrame(ciudades)

In [103]:
#quitamos duplicados en caso que existan y reseteamos el indice
ciudades_df.drop_duplicates(subset=['City','Country'],inplace=True)
ciudades_df.reset_index(drop=True,inplace=True)

In [104]:
#muestra de la tabla 
ciudades_df

,City,Country,Photo,Overall Score,Quality of life score,Family score,Cost/month (USD),Internet Mbps,Fun,Safety,Education level,English speaking,Walkability,Peace,Traffic safety,Hospitals,Happiness,Nightlife,Free WiFi in city,Places to work from,Friendly to foreigners,Freedom of speech,Racial tolerance,Female friendly,LGBTQ friendly,Startup Score,Best taxi app in country,Best wireless carrier,Tipping,Cashless society,Safe tap water,Population,Temperature (°C) Jan,Temperature (°C) Feb,Temperature (°C) Mar,Temperature (°C) Apr,Temperature (°C) May,Temperature (°C) Jun,Temperature (°C) Jul,Temperature (°C) Aug,Temperature (°C) Sep,Temperature (°C) Oct,Temperature (°C) Nov,Temperature (°C) Dec
0,Lisbon,Portugal,https://nomadlist.com/assets/img/places/lisbon...,4.68,4,4,2006.0,27.0,4.0,Great,3.0,4.0,5.0,4.0,3.0,2.0,3.0,3.0,3.0,5.0,4.0,5.0,3.0,4.0,5.0,3.0,Uber,Vodafone,No,Yes,Yes,550000.0,14,16,19,18,22,21,23,25,24,21,17,16
1,"Canggu, Bali",Indonesia,https://nomadlist.com/assets/img/places/canggu...,4.61,4,4,1247.0,19.0,4.0,Great,3.0,4.0,3.0,3.0,2.0,NaN,3.0,4.0,4.0,5.0,5.0,3.0,4.0,4.0,4.0,3.0,GoJEK,XL,No,No,No,30000.0,30,30,30,30,30,28,27,27,27,29,30,31
2,Mexico City,Mexico,https://nomadlist.com/assets/img/places/mexico...,4.46,4,3,1278.0,19.0,4.0,Okay,3.0,3.0,5.0,2.0,3.0,NaN,4.0,4.0,3.0,5.0,4.0,3.0,2.0,3.0,5.0,3.0,Uber,Telcel,No,No,No,8900000.0,19,22,24,24,25,22,21,22,21,21,21,20
3,Chiang Mai,Thailand,https://nomadlist.com/assets/img/places/chiang...,4.45,4,3,1056.0,24.0,4.0,Great,3.0,3.0,5.0,3.0,2.0,5.0,4.0,3.0,4.0,5.0,4.0,3.0,2.0,4.0,3.0,3.0,Grab,AIS,No,Yes,No,400000.0,29,32,36,37,35,32,31,31,31,31,30,28
4,Belgrade,Serbia,https://nomadlist.com/assets/img/places/belgra...,4.45,4,4,1423.0,29.0,4.0,Good,3.0,4.0,5.0,3.0,3.0,NaN,3.0,5.0,4.0,5.0,4.0,4.0,3.0,4.0,1.0,3.0,CarGo,Telenor,No,Yes,Yes,1400000.0,1,8,15,18,20,28,28,32,26,23,16,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,"St. Cloud, MN",United States,https://nomadlist.com/assets/img/places/st-clo...,3.22,4,4,3860.0,44.0,3.0,Great,4.0,5.0,5.0,3.0,3.0,NaN,4.0,3.0,4.0,1.0,NaN,4.0,4.0,3.0,5.0,3.0,Uber,Tmobile,No,Yes,Yes,67000.0,-9,-11,0,10,15,23,26,23,20,9,1,-3
1316,Volgograd,Russia,https://nomadlist.com/assets/img/places/volgog...,3.22,3,2,1276.0,14.0,2.0,Okay,4.0,2.0,5.0,1.0,2.0,NaN,3.0,3.0,3.0,1.0,NaN,3.0,2.0,3.0,1.0,2.0,Yandex,MTS,No,Yes,No,1000000.0,-2,-2,7,15,24,30,28,26,23,17,4,2
1317,"Columbia, MO",United States,https://nomadlist.com/assets/img/places/columb...,3.22,4,3,3637.0,35.0,3.0,Good,4.0,5.0,5.0,3.0,3.0,5.0,4.0,3.0,4.0,2.0,NaN,4.0,4.0,2.0,5.0,3.0,Uber,TMobile,No,Yes,Yes,120000.0,1,1,10,18,22,27,29,27,28,17,9,8
1318,Kampala,Uganda,https://nomadlist.com/assets/img/places/kampal...,3.22,3,2,955.0,67.0,3.0,Bad,2.0,3.0,5.0,3.0,1.0,2.0,1.0,2.0,NaN,5.0,3.0,4.0,NaN,2.0,2.0,2.0,Taxify,Tecno,NaN,No,No,1500000.0,27,28,28,27,24,24,24,24,25,24,24,24
1319,La Serena,Chile,https://nomadlist.com/assets/img/places/la-ser...,3.21,3,3,1884.0,12.0,NaN,Okay,4.0,2.0,5.0,4.0,3.0,NaN,4.0,3.0,2.0,5.0,3.0,4.0,3.0,2.0,2.0,2.0,Uber,Movistar,No,Yes,No,210000.0,22,23,21,20,18,17,16,17,15,17,19,20

In [106]:
#guardamos el dataframe en un csv final
ciudades_df.to_csv('../data/nomadlist_cities.csv')

### 5. Fifth source: people and their trips (the cities where they have been)
https://nomadlist.com/

In [3]:
#abrimos el navegador de Selenium
navegador = webdriver.Chrome()

In [4]:
#maximizamos el navegador
navegador.maximize_window()

In [5]:
#vamos al url
navegador.get('https://nomadlist.com/userApi.php?action=login_by_email&hash=91e7c90f5dcbfc27710077645e4f4841a80f6aff')

In [6]:
#abrimos el menu
menu = navegador.find_element_by_xpath('/html/body/div[3]/div/div[1]/span')
menu.click()

In [7]:
#buscamos el home
home = navegador.find_element_by_xpath('/html/body/div[5]/a[1]')
home.click()

In [8]:
# generamos lista de ciudades a las que vamos a scrapear
rand = []
while len(rand)<100:
    r=random.randint(1,1340)
    if r not in rand:
        rand.append(r)

In [9]:
#scroll al final de la página
n_ciudades = len(navegador.find_elements_by_tag_name('li'))

while n_ciudades<max(rand):
    navegador.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(4)
    n_ciudades = len(navegador.find_elements_by_tag_name('li'))

In [11]:
#variable donde se van a guardar los usuarios
people = []

In [14]:
#scraping de todos los viajes de personas

#loop para generar la información de cada ciudad
for i in tqdm(rand):
    try:
        #seleccionamos una ciudad
        cada_ciudad = navegador.find_element_by_xpath(f'/html/body/div[7]/ul/li[{i}]')

        #dar click a la ciudad
        cada_ciudad.click()
        time.sleep(2)

        #tab de people
        people_tab = navegador.find_element_by_xpath('/html/body/div[32]/div[3]/div[2]/div[4]/ul/h3[8]')
        people_tab.click()

        time.sleep(1)
        
        #lista de personas
        people_lst = navegador.find_element_by_class_name('people-here-now')
        people_lst = people_lst.find_elements_by_tag_name('a')
        
        #agregar la información a la lista principal de personas
        for i in people_lst:
            url = i.get_attribute('href')
            if url not in people:
                people.append(url)

        #cerrar ciudad
        close = navegador.find_element_by_xpath('//*[@id="body"]/div[33]/div')
        close.click()

        time.sleep(1)
            
    except:
        pass

100%|██████████| 100/100 [20:20<00:00, 12.20s/it]

In [15]:
#número de perfiles conseguidos
len(people)

2342

In [16]:
#muestra de los urls de los perfiles
people[:10]

['https://nomadlist.com/@beau',
 'https://nomadlist.com/@jaredmason',
 'https://nomadlist.com/@patricksearle',
 'https://nomadlist.com/@trevorgerhardt',
 'https://nomadlist.com/@jasongalvin',
 'https://nomadlist.com/@ralphius',
 'https://nomadlist.com/@breelig',
 'https://nomadlist.com/@prakhar',
 'https://nomadlist.com/@bhullnatik',
 'https://nomadlist.com/@guar47']

In [28]:
#para evitar que nos bloquee el api por hacer muchas llamadas, vamos a generar headers diferentes para cada petición
def get_random_ua():
    random_ua = ''
    ua_file = 'agents.txt'
    try:
        with open(ua_file) as f:
            lines = f.readlines()
        if len(lines) > 0:
            prng = np.random.RandomState()
            index = prng.permutation(len(lines) - 1)
            idx = np.asarray(index, dtype=np.integer)[0]
            random_ua = lines[int(idx)].replace("\n","")
    except Exception as ex:
        print('Exception in random_ua')
        print(str(ex))
    finally:
        return random_ua

In [29]:
trips_lst =[]

In [34]:
%%time

for x in tqdm(people[10:]):
    try:
        url = x
        user_agent = get_random_ua()
        headers = {'user-agent': user_agent}
        response = requests.get(url, headers = headers)

        sopa = bs(response.content, "html.parser")
        viajes = sopa.find_all('tr',{'class':'trip'})
        user = url.split('/@')[1]

        for i in viajes:
            if i.find('td',{'class':'image'}).find('a')!=None:

                duracion = int(i.find('td',{'class':''})['title'].split(' ')[0])
                ciudad = i.find('td',{'class':'name'}).find('h2').text
                pais = i.find('td',{'class':'country'}).text

                data = {'user':user,'City':ciudad,'Country':pais,'Time (days)':duracion}
                trips_lst.append(data)
        time.sleep(0.5)
    except:
        pass

  0%|          | 2/2124 [00:03<1:02:43,  1.77s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  0%|          | 3/2124 [00:08<1:34:54,  2.68s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  0%|          | 10/2124 [00:24<1:23:39,  2.37s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  1%|          | 20/2124 [00:48<1:26:12,  2.46s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  1%|          | 26/2124 [01:02<1:21:30,  2.33s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  2%|▏         | 43/2124 [01:42<1:14:48,  2.16s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  3%|▎         | 74/2124 [02:54<1:09:57,  2.05s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  4%|▍         | 93/2124 [03:33<1:03:15,  1.87s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  5%|▍         | 97/2124 [03:44<1:16:41,  2.27s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  5%|▍         | 105/2124 [04:00<1:08:48,  2.04s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  5%|▌         | 112/2124 [04:17<1:10:58,  2.12s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  7%|▋         | 153/2124 [05:36<56:00,  1.70s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  8%|▊         | 160/2124 [05:49<52:42,  1.61s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  9%|▊         | 181/2124 [06:33<1:08:15,  2.11s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  9%|▊         | 184/2124 [06:41<1:17:03,  2.38s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  9%|▉         | 194/2124 [07:02<1:14:34,  2.32s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
  9%|▉         | 201/2124 [07:20<1:12:07,  2.25s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 10%|█         | 216/2124 [07:52<1:05:46,  2.07s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 12%|█▏        | 255/2124 [09:19<1:20:03,  2.57s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 13%|█▎        | 269/2124 [09:49<1:03:09,  2.04s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 15%|█▍        | 313/2124 [11:21<59:58,  1.99s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 16%|█▌        | 334/2124 [12:05<1:06:59,  2.25s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 16%|█▌        | 338/2124 [12:17<1:07:38,  2.27s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 16%|█▌        | 339/2124 [12:22<1:34:16,  3.17s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 16%|█▌        | 345/2124 [12:38<1:11:03,  2.40s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 17%|█▋        | 364/2124 [13:24<58:07,  1.98s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 19%|█▊        | 397/2124 [14:33<58:45,  2.04s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 19%|█▉        | 400/2124 [14:45<1:29:36,  3.12s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 19%|█▉        | 414/2124 [15:14<52:58,  1.86s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 20%|██        | 426/2124 [15:38<57:45,  2.04s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 22%|██▏       | 471/2124 [17:17<52:13,  1.90s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 25%|██▌       | 532/2124 [19:34<1:06:12,  2.50s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 26%|██▌       | 545/2124 [20:05<57:37,  2.19s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 26%|██▌       | 550/2124 [20:17<52:35,  2.00s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 29%|██▊       | 610/2124 [22:26<1:04:45,  2.57s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 29%|██▉       | 616/2124 [22:42<1:01:10,  2.43s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 30%|███       | 641/2124 [23:41<53:50,  2.18s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 31%|███       | 663/2124 [24:29<48:29,  1.99s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 32%|███▏      | 678/2124 [24:59<48:00,  1.99s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 33%|███▎      | 699/2124 [25:46<51:57,  2.19s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 35%|███▍      | 736/2124 [27:43<45:16,  1.96s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 35%|███▌      | 746/2124 [28:05<48:39,  2.12s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 36%|███▋      | 772/2124 [28:57<43:43,  1.94s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 37%|███▋      | 783/2124 [29:21<46:18,  2.07s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 38%|███▊      | 810/2124 [30:18<44:07,  2.02s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 39%|███▉      | 825/2124 [30:47<47:09,  2.18s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 39%|███▉      | 833/2124 [31:07<53:07,  2.47s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 39%|███▉      | 837/2124 [31:16<44:04,  2.05s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 40%|███▉      | 848/2124 [31:37<34:54,  1.64s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 41%|████      | 863/2124 [32:12<45:24,  2.16s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 41%|████▏     | 878/2124 [32:43<47:46,  2.30s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 42%|████▏     | 887/2124 [33:09<47:43,  2.31s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 42%|████▏     | 900/2124 [33:32<38:22,  1.88s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 43%|████▎     | 904/2124 [33:42<44:01,  2.17s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 43%|████▎     | 912/2124 [34:04<46:04,  2.28s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 43%|████▎     | 923/2124 [34:29<40:03,  2.00s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 44%|████▍     | 942/2124 [35:09<47:58,  2.43s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 46%|████▋     | 986/2124 [36:38<44:27,  2.34s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 47%|████▋     | 1004/2124 [37:15<34:54,  1.87s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 49%|████▊     | 1034/2124 [38:14<34:18,  1.89s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 50%|████▉     | 1052/2124 [38:53<38:50,  2.17s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

 50%|████▉     | 1053/2124 [38:56<45:46,  2.56s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 50%|████▉     | 1059/2124 [39:14<42:50,  2.41s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 50%|█████     | 1064/2124 [39:26<40:25,  2.29s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 50%|█████     | 1065/2124 [39:32<56:06,  3.18s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 52%|█████▏    | 1103/2124 [40:51<33:11,  1.95s/it]  Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 53%|█████▎    | 1136/2124 [41:59<32:14,  1.96s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 54%|█████▍    | 1152/2124 [42:32<33:25,  2.06s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 54%|█████▍    | 1157/2124 [42:46<37:44,  2.34s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 55%|█████▌    | 1169/2124 [43:13<35:44,  2.25s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 56%|█████▌    | 1193/2124 [43:57<23:11,  1.49s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 56%|█████▌    | 1194/2124 [44:03<41:30,  2.68s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 56%|█████▋    | 1199/2124 [44:15<38:20,  2.49s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 57%|█████▋    | 1211/2124 [44:44<35:23,  2.33s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 58%|█████▊    | 1226/2124 [45:18<29:53,  2.00s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 60%|█████▉    | 1269/2124 [46:36<23:46,  1.67s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 61%|██████    | 1290/2124 [47:14<23:54,  1.72s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 61%|██████    | 1295/2124 [47:28<28:38,  2.07s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 61%|██████    | 1300/2124 [47:40<25:51,  1.88s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 62%|██████▏   | 1307/2124 [47:55<25:57,  1.91s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 62%|██████▏   | 1319/2124 [48:20<28:36,  2.13s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 62%|██████▏   | 1323/2124 [48:30<28:16,  2.12s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 63%|██████▎   | 1338/2124 [49:00<27:50,  2.13s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 64%|██████▍   | 1359/2124 [49:44<22:57,  1.80s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 64%|██████▍   | 1369/2124 [50:04<22:47,  1.81s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 65%|██████▍   | 1371/2124 [50:09<26:20,  2.10s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 67%|██████▋   | 1430/2124 [52:07<24:40,  2.13s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 67%|██████▋   | 1431/2124 [52:11<32:49,  2.84s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 68%|██████▊   | 1452/2124 [52:54<20:46,  1.86s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 69%|██████▊   | 1455/2124 [53:03<27:11,  2.44s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 69%|██████▊   | 1458/2124 [53:13<30:10,  2.72s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 69%|██████▉   | 1467/2124 [53:33<22:33,  2.06s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 69%|██████▉   | 1475/2124 [53:50<20:41,  1.91s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 70%|███████   | 1488/2124 [54:17<22:23,  2.11s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 70%|███████   | 1494/2124 [54:31<22:39,  2.16s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 74%|███████▍  | 1569/2124 [57:00<20:36,  2.23s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 74%|███████▍  | 1572/2124 [57:09<23:56,  2.60s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 74%|███████▍  | 1575/2124 [57:16<22:44,  2.49s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 75%|███████▍  | 1583/2124 [57:35<20:16,  2.25s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 75%|███████▌  | 1593/2124 [57:56<15:59,  1.81s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 77%|███████▋  | 1635/2124 [59:18<16:05,  1.97s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 78%|███████▊  | 1648/2124 [59:46<14:46,  1.86s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 78%|███████▊  | 1664/2124 [1:00:20<14:15,  1.86s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 80%|███████▉  | 1694/2124 [1:01:23<13:48,  1.93s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 81%|████████  | 1725/2124 [1:02:29<14:01,  2.11s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 82%|████████▏ | 1743/2124 [1:03:08<12:28,  1.96s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 82%|████████▏ | 1747/2124 [1:03:19<13:43,  2.19s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 82%|████████▏ | 1752/2124 [1:03:29<11:29,  1.85s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 83%|████████▎ | 1764/2124 [1:03:58<13:37,  2.27s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 83%|████████▎ | 1772/2124 [1:04:16<11:46,  2.01s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 84%|████████▍ | 1785/2124 [1:04:44<10:21,  1.83s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 84%|████████▍ | 1786/2124 [1:04:47<12:16,  2.18s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 85%|████████▍ | 1798/2124 [1:05:13<10:44,  1.98s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 86%|████████▌ | 1821/2124 [1:05:54<07:02,  1.39s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 86%|████████▌ | 1826/2124 [1:06:07<10:09,  2.04s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 86%|████████▋ | 1834/2124 [1:06:23<10:19,  2.14s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 87%|████████▋ | 1838/2124 [1:06:32<09:30,  1.99s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 87%|████████▋ | 1847/2124 [1:06:52<09:49,  2.13s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 88%|████████▊ | 1862/2124 [1:07:22<06:47,  1.56s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 90%|█████████ | 1919/2124 [1:09:17<07:15,  2.12s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 90%|█████████ | 1921/2124 [1:09:23<08:44,  2.58s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

 92%|█████████▏| 1951/2124 [1:10:24<05:36,  1.94s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 92%|█████████▏| 1958/2124 [1:10:38<05:21,  1.94s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 94%|█████████▍| 1994/2124 [1:11:51<04:38,  2.14s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 94%|█████████▍| 2000/2124 [1:12:05<04:06,  1.99s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 94%|█████████▍| 2003/2124 [1:12:13<04:59,  2.48s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 95%|█████████▍| 2010/2124 [1:12:29<03:58,  2.09s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 95%|█████████▍| 2014/2124 [1:12:42<04:44,  2.59s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 96%|█████████▋| 2049/2124 [1:13:56<02:21,  1.89s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 98%|█████████▊| 2076/2124 [1:14:52<01:37,  2.04s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 98%|█████████▊| 2086/2124 [1:15:12<01:15,  2.00s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
 99%|█████████▉| 2109/2124 [1:16:09<00:41,  2.78s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
100%|█████████▉| 2118/2124 [1:16:31<00:15,  2.51s/it]Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
100%|██████████| 2124/2124 [1:16:45<00:00,  2.17s/it]

CPU times: user 15min 23s, sys: 16.6 s, total: 15min 39s
Wall time: 1h 16min 45s

In [39]:
trips_df = pd.DataFrame(trips_lst)

In [55]:
cities_user = pd.DataFrame(trips_lst).groupby(['user','City','Country']).sum('Time (days)').reset_index()
cities_user.to_csv('../data/user_cities.csv')

In [41]:
total_trips = pd.DataFrame(trips_lst)
trips_df.to_csv('../data/total_user_trips.csv', index=False)