# Final project: 
# Step 4: User input

### 1. We will match the user input with the cities from the table

In [206]:
#Importar librerias necesarias
import pandas as pd
import fuzzywuzzy as fw
import rapidfuzz as rf

In [90]:
#llamamos el csv con los datos
cities_lst = pd.read_csv('../data/cities_for_user_input.csv')

In [91]:
#muestra de la tabla
cities_lst.head()

           City          City-Country_EN
0        Lisbon         Lisbon, Portugal
1  Canggu, Bali  Canggu, Bali, Indonesia
2   Mexico City      Mexico City, Mexico
3    Chiang Mai     Chiang Mai, Thailand
4      Belgrade         Belgrade, Serbia

In [363]:
#función para generar el match de las ciudades en una sola ejecución
def find_best_match(misspelled):
    #Importar librerias necesarias
    import pandas as pd
    import fuzzywuzzy as fw

    #llamamos el csv con los datos
    cities_lst = pd.read_csv('../data/cities_for_user_input.csv')
    lista = [x.lower() for x in list(cities_lst["City"])]
        
    #lista con las ciudades finales
    input_user = []
    for i in misspelled:
        closest, ratio = rf.process.extractOne(i.lower(), lista)
        indice = lista.index(closest)
        city_country = cities_lst.loc[indice,'City-Country_EN']
        #print(i, city_country, ratio)
        if ratio>90 and city_country not in input_user:
            input_user.append(city_country)
    return input_user

In [375]:
%%time
#prueba de la función
prueba = ['Isla galapagos','paz mex','La paz bolivia','Venecia, it','Lisboa','Ciudad de mexico','koh tao', 'madrid españa', 'cuenca']

input_cities = find_best_match(prueba)
input_cities

CPU times: user 146 ms, sys: 2.87 ms, total: 149 ms
Wall time: 148 ms

['La Paz, Bolivia',
 'Lisbon, Portugal',
 'Mexico City, Mexico',
 'Ko Tao, Thailand',
 'Madrid, Spain',
 'Cuenca, Ecuador']

In [373]:
%%time
#prueba 2 de la función
prueba = ['ciudades', 'servir', 'proyecto', 'Atlanta', 'banco', 'Boston', 'Bruselas',
                 'viendo', 'diciendo', 'pura', 'huevada', 'funciona', 'sistema', 'Buenos',
                 'Aires', 'bus', 'San', 'Antonio', 'to', 'Chicago', 'chongqing', 'Ciudad',
                 'México', 'colonia', 'Dallas', 'Deli', 'Estambul', 'Filadelfia', 'Frankfurt',
                 'Hong', 'Kong', 'Houston', 'Londres', 'Los', 'Angeles', 'Madrid', 'Miami', 
                 'voy', 'sentido', 'Millán', 'Milán', 'Moscú', 'Múnich', 'nagoya', 'nagoya', 
                 'nagoya', 'Nueva', 'York', 'osaka', 'nagoya', 'Nueva', 'York', 'osaka', 
                 'París', 'Pekín', 'San', 'Francisco', 'Seattle', 'seúl', 'Shanghai', 
                 'shenzhen', 'Singapur', 'show', 'Sao', 'Paulo', 'cine', 'Sushi', 'Sao', 
                 'Paulo', 'Sydney', 'type', 'engine', 'Tokio', 'Toronto', 'Washington', 
                 'DC', 'yakarta', 'amsterdam', 'ciudades servir', 'servir proyecto', 
                 'proyecto Atlanta', 'Atlanta banco', 'banco Boston', 'Boston Bruselas', 
                 'Bruselas viendo', 'viendo diciendo', 'diciendo pura', 'pura huevada', 
                 'huevada funciona', 'funciona sistema', 'sistema Buenos', 'Buenos Aires', 
                 'Aires bus', 'bus San', 'San Antonio', 'Antonio to', 'to Chicago', 
                 'Chicago chongqing', 'chongqing Ciudad', 'Ciudad México', 'México colonia', 
                 'colonia Dallas', 'Dallas Deli', 'Deli Estambul', 'Estambul Filadelfia', 
                 'Filadelfia Frankfurt', 'Frankfurt Hong', 'Hong Kong', 'Kong Houston', 
                 'Houston Londres', 'Londres Los', 'Los Angeles', 'Angeles Madrid', 
                 'Madrid Miami', 'Miami voy', 'voy sentido', 'sentido Millán', 'Millán Milán',
                 'Milán Moscú', 'Moscú Múnich', 'Múnich nagoya', 'nagoya nagoya', 
                 'nagoya nagoya', 'nagoya Nueva', 'Nueva York', 'York osaka', 'osaka nagoya', 
                 'nagoya Nueva', 'Nueva York', 'York osaka', 'osaka París', 'París Pekín', 
                 'Pekín San', 'San Francisco', 'Francisco Seattle', 'Seattle seúl', 
                 'seúl Shanghai', 'Shanghai shenzhen', 'shenzhen Singapur', 'Singapur show', 
                 'show Sao', 'Sao Paulo', 'Paulo cine', 'cine Sushi', 'Sushi Sao', 
                 'Sao Paulo', 'Paulo Sydney', 'Sydney type', 'type engine', 'engine Tokio', 
                 'Tokio Toronto', 'Toronto Washington', 'Washington DC', 'DC yakarta', 
                 'yakarta amsterdam']


input_cities = find_best_match(prueba)
input_cities

CPU times: user 2.69 s, sys: 11.5 ms, total: 2.7 s
Wall time: 2.72 s

['Atlanta, GA, United States',
 'Boston, MA, United States',
 'Brussels, Belgium',
 'Chicago, IL, United States',
 'Chongqing, China',
 'Cologne, Germany',
 'Dallas, TX, United States',
 'Philadelphia, PA, United States',
 'Frankfurt, Germany',
 'Houston, TX, United States',
 'London, United Kingdom',
 'Madrid, Spain',
 'Miami, FL, United States',
 'Milan, Italy',
 'Moscow, Russia',
 'Nagoya, Japan',
 'York, United Kingdom',
 'Osaka, Japan',
 'Paris, France',
 'San Francisco, CA, United States',
 'Seattle, WA, United States',
 'Seoul, South Korea',
 'Shanghai, China',
 'Shenzhen, China',
 'Singapore, Singapore',
 'Sydney, Australia',
 'Tokyo, Japan',
 'Toronto, Canada',
 'Washington, DC, United States',
 'Amsterdam, Netherlands',
 'Buenos Aires, Argentina',
 'San Antonio, TX, United States',
 'Mexico City, Mexico',
 'Hong Kong, Hong Kong',
 'Los Angeles, CA, United States',
 'São Paulo, Brazil']

In [376]:
prueba = ['Venecia',
          'Lisboa',
          'Bogotá',
          'Colombia',
          'Viena',
          'Venecia Lisboa',
          'Lisboa Bogotá',
          'Bogotá Colombia',
          'Colombia Viena']

input_cities = find_best_match(prueba)
input_cities

['Venice, Italy', 'Lisbon, Portugal', 'Bogota, Colombia', 'Vienna, Austria']